.encabezado {
    position: fixed;
    top: 1%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    /*background-color: rgb(52, 52, 52);*/
    color: #FFF;
    z-index: 1;
}

.fotoperfil {
    position: fixed;
    top: 1%;
    right: 5%;
    z-index: 1;
      
}

.formulario {
    display: flex;
    margin-left: 10%;
    /*background-color: rgb(52, 52, 52);*/
    
}

.titulo{
    position:static;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    /*background-color: rgb(52, 52, 52);*/
    color: #FFF;
}

.titulo1{
    
    
    margin: 10px;
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    text-align: center;

    
}

.titulo1::before{
    content: "";
    position: absolute;
    top:0%;
    left: 0%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
    red, blue, deeppink, blue,
    red, blue, deeppink,blue);
    background-size: 800%;
   border-radius: 12px;
    filter: blur(3px);
    animation: glower 20s linear infinite;
}
@keyframes glower {
    0% {
        background-position: 0 0;
      }
      
      50% {
        background-position: 400% 0;
      }
      
      100% {
        background-position: 0 0;
      }
}


.contenedor1 {
    display: grid;
    grid-template-columns: 1fr;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.card  {
        margin: 5%;
        border-radius: 25px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        color: #FFF;
}


p{
    padding-bottom : 5%;
    padding-left: 5%;
    padding-right: 5%;
}

 html {
    background: radial-gradient(#333,#222, #111,#000);
    background-attachment: fixed;
  }
/**/


  
  .luminaire {
    z-index: -1;
    position: fixed;
    top: -25%;
    left: 45%;
    width: 30px;
    height: 30px;
    margin: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
    0 0 90px 60px #fff,
    0 0 120px 90px #f0f,
    0 0 130px 120px #0ff,
    0 0 150px 130px rgb(162, 157, 255),
    0 0 170px 150px rgb(146, 146, 146);

    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
    
 
  
@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-columns: 1fr;
    }
    .luminaire {
    top: -35%;
    left: 45%;
    width: 30px;
    height: 30px;
    margin: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
    0 0 60px 30px #fff,
    0 0 90px 60px #f0f,
    0 0 100px 90px #0ff,
    0 0 120px 100px rgb(162, 157, 255),
    0 0 140px 120px rgb(146, 146, 146);
    }
}